<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inshow.carl.com.csd">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="no.nordicsemi.android.LOG" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        tools:replace="icon"
        android:allowBackup="true"
        android:icon="@mipmap/csd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="inshow.carl.com.csd.AppController"
        android:theme="@style/AppTheme">
        <meta-data android:name="DATABASE" android:value="ota.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="inshow.carl.com.ota_tool.entity" />
        <service android:name="inshow.carl.com.csd.upgrade.BluetoothLeService" android:enabled="true"/>

        <service
            android:name="inshow.carl.com.csd.upgrade.DfuService"  android:exported="true"/>

        <service
            android:name="com.inuker.bluetooth.library.BluetoothService" />
        <!--<activity android:name="inshow.carl.com.csd.mijia.MiMainActivity"-->
            <!--android:configChanges="orientation|screenSize">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!---->
        <activity android:name=".csd.CSDAct"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:namMiMainActivityvity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name="inshow.carl.com.csd.DfuAct"/>
        <!--<activity android:name="inshow.carl.com.csd.WeChatCaptureActivity"/>-->
        <activity android:name="inshow.carl.com.csd.csd.TestWatchAct"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />
        <activity android:name=".csd.adjust.AdjustMainAct" />
        <activity android:name=".csd.adjust.NewAdjustStepFirstAct" />
        <activity android:name=".csd.adjust.NewAdjustStepSecAct" />
        <activity android:name=".csd.adjust.NewAdjustTimeFirstAct" />
        <activity android:name=".csd.adjust.NewAdjustTimeSecAct" />
        <activity android:name=".csd.adjust.NewAdjustTimeThirdAct" />

        <!--<activity android:name=".csd.silentcamera.SilentCameraMainActivity" />-->

        <!--<service android:name=".csd.silentcamera.CapPhotoService" android:enabled="true"/>-->
    </application>

</manifest>